
$rosa: #CB64BF; // färgvariabel 
$vit: #FFFFFF;
$svart: #000000;


// 🔸 Header-stil
header 
{
  background-color: $rosa;
  color: $svart;
  text-align: center;
  padding: 1rem;

  
  h1 
  {
  font-family: 'Moirai One', cursive;
  font-size: 2.5rem;
  background: linear-gradient(45deg, #0f0f0f, #010101);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }

   
    
     nav 
   {

    margin-top: 1rem;

    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 0;
      margin: 0;

      li a {
        text-decoration: none;
        color: $svart;
        font-family: 'cormorant';
        font-size: 1.2rem;
        transition: color 0.3s ease;

        &:hover {
          color: #ffe6f0;
        }

    }

        li a.active {
  font-weight: bold;
  color: darken($svart, 20%);
  border-bottom: 2px solid $svart;
}
    } 
    }
}
   


    h3 {
  text-align: center;      // centrerar horisontellt
  color: $svart;            // valfri färg
  font-family: 'cormorant', cursive;
  margin-top: 1rem;        // avstånd från header
  font-size: 1.5rem;
       }

    
   .packages {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem 4rem;

  h1 {
    text-align: center;
  }

  .package {
    display: flex;
    align-items: center;
    gap: 2rem;

    img {
      width: 50%;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    }



    .text {
      width: 50%;
      font-family: 'cormorant';
      color: #000;
      
      h2 {
        color: $svart;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.6;
      }
    }

    &.reverse {
      flex-direction: row;
    }
  }
}


    button {
      background: $rosa;
      border: none;
      color: $svart;
      font-family: 'cormorant';
      padding: 0.5rem 1rem;
      border-radius: 5px;
      margin-top: 0.5rem;
      cursor: pointer;

      &:hover {
        background: darken($rosa, 10%);
      }
    }
  



footer{

  background-color: $rosa;
  color: $svart;
  text-align: start;
  padding: 1rem;
  justify-content: end;


h1 
  {
  font-family: 'Moirai One', cursive;
  font-size: 2.5rem;
  background: linear-gradient(45deg, #0f0f0f, #010101);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   }


}
